html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
#map {
    /* margin: 0; */
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    /* box-sizing: border-box; */
    float: right;
}
#popup {
    /* position: absolute; */
    position: relative;
    display: inline-block;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
/* #mapPopup:after {
    width: 0;
    height: 0;
    position: absolute;
    content: ' ';
    top: 100%;
    left: 95px;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
} */
#log {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: 'white';
}
.popupCloser::after {
    content: 'Fermer';
}

#mainControl {
    position: absolute;
    top: 20px;
    left: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#newGameControl {
    pointer-events: none;
    position: absolute;
    /* display: block; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#newGameControl input,
#newGameControl button,
#newGameControl a {
    pointer-events: all;
}

#newGameControl .top,
#newGameControl .bottom {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

#newGameControl .top {
    top: 0;
}

#newGameControl .bottom {
    bottom: 0;
}

#newGameControl .newGameTitle {
    /* position: absolute; */
    /* top: 0; */
    /* width: 100%; */
    /* display: block; */
    text-align: center;
}
#newGameControl a {
    pointer-events: all;
    position: absolute;
    top: 0;
    right: 0;
}

#newGameControl .countGrid {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
